

  <div class="parent">
    <div class="row mb-4">
      <div class="col-12">
        <nav class="navbar navbar-expand-sm bg-dark justify-content-between ">
          <ul class="navbar-nav ">
            <li class="nav-item ">
              <a class="nav-link text-white fs-5 " routerLink="admin-dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5" routerLink="create-packages">Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5" routerLink="create-user-for-client">User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5" routerLink="create-client">Client</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5" routerLink="active-packages">Active-packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white fs-5" routerLink="assign-packages">Assign-packages</a>
            </li>


          </ul>
          <li class="nav-item me-2">
           <span class="fs-4 text-white"><i class="fa-solid fa-user text-success me-1"></i>
            {{userName}}</span>
            <button class="btn btn-danger text-end fs-5 mt-2 ms-3" (click)="onLogout()">Logout<i class="fa-solid fa-arrow-right ms-2"></i></button>
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div>


  <router-outlet></router-outlet>


