<!-- <div class="container">
  <div class="row">
    <div class="col-8">
      <table>
        <thead>
          <tr>
            <th>totBookings</th>
            <th>totClients</th>
            <th>totPackages</th>
            <th>totRooms</th>
            <th>totUsers</th>
            <th>totActivePackages</th>
            <th>todaysBooking</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of adminArray">
            <td>{{item.totBookings}}</td>
            <td>{{item.totClients}}</td>
            <td>{{item.totPackages}}</td>
            <td>{{item.totRooms}}</td>
            <td>{{item.totUsers}}</td>
            <td>{{item.totActivePackages}}</td>
            <td>{{item.todaysBooking}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
