
<div class="parent-div">
  <div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true" >Login</label>
					<input type="email" name="UserName" class="p-3"   [(ngModel)]="loginObj.UserName" placeholder="Email" required="">
					<input type="password" name="UserPassword" class="p-3" [(ngModel)]="loginObj.UserPassword" placeholder="Password" required="">
					<button (click)="onLogin()">Login  <span class="spinner-grow spinner-grow-sm" *ngIf="isAPICallInProgress"></span></button>
				</form>
			</div>
	</div>
</div>
